# This is a label that will appear as a grouping in the Looker admin page
ACTION_HUB_LABEL=My Local Hub
# This value is used to generate the authorization token - it is not the token itself. 
# Run `yarn generate-api-key` to get the value you paste into Looker.
ACTION_HUB_SECRET=mysecret
# This is the URL that will be used to access Action Hub from the outside world.
# That is, the URL of the reverse proxy / load balancer if you are using one.
# So the port here might be different from the PORT param
ACTION_HUB_BASE_URL=localhost:4430
# This specifies the local port the service binds to.
PORT=8080
# This is used for encryption functions.
# Can be generated with something like `openssl rand -hex 32`
CIPHER_MASTER=281243e09385f19773569e4d99d306065efb0cf0f6e3ca4c705571c173722c99
# Use this in development to turn on debug logging
ACTION_DEBUG=1
# Use this in development to filter the list of actions exposed to Looker
ACTION_WHITELIST=my_new_action_name,other_action_name