html
  head
    title
    link(href="/install/workplace/styles.css", rel="stylesheet", type="text/css")
    //- link(href="/install/workplace/uninstall.css", rel="stylesheet", type="text/css")
  body.uninstall
    h1 To uninstall the Looker Workplace app:
    div.instructions Instructions here
