html
  head
    title
    link(href="/workplace/styles.css", rel="stylesheet", type="text/css")
  body.uninstall
    h1 Uninstall the Looker Workplace integration
    div.instructions
      p To uninstall the Workplace by Facebook integration from Looker, navigate to the Actions admin settings in your Looker instance.
      p Click "Edit" on the Workplace by Facebook integration.
      p
        img(src="/workplace/instruction-1.png", alt="Edit Workplace by Facebook Action in Looker instance")
      p Toggle the "Enabled" button to the off position.
      p Click "Edit" next to the field "Facebook App Access Token", and ensure that there is no text stored in the text field.
      p Click "Save".
      p
        img(src="/workplace/instruction-2.png", alt="Paste Access Token and Save")
