body {
  background-color: #7e64e0;
  color: white;
  height: auto;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
}

h1, h2, p {
  max-width: 500px;
}

.error-message,
.access-token {
  font-family: monospace;
  background-color: #f8f8f8;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  padding: 20px;
  font-size: 18px;
  word-break: break-all;
}

img {
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;

}
